<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>test</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/joint/dist/joint.nojquery.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <!-- header -->
  <div class="page-header">
    <h2>Example page header <small>Subtext for header</small></h2>
  </div>

  <!-- layout -->
  <div class="layout" ng-controller="LayoutController">
    <!-- sidebar: left -->
    <div class="sidebar left" ng-class="{'closed': layout.sidebar.left.closed}">
      <div class="sidebar-header">
        <button type="button" class="btn btn-xs btn-default" ng-click="layout.sidebar.left.closed=!layout.sidebar.left.closed">
          <span class="fa" ng-class="{'fa-angle-left': !layout.sidebar.left.closed, 'fa-angle-right': layout.sidebar.left.closed}"></span>
        </button>
      </div>
      <div class="sidebar-body sortable" ng-model="layout.sidebar.left.views" ui-sortable="sidebarSortableOptions">
        <div class="view" ng-repeat="v in layout.sidebar.left.views" ng-include="'views/' + v + '/' + v + '.html'"></div>
      </div>
    </div>

    <!-- main -->
    <div class="main" ng-class="{'closed-left': layout.sidebar.left.closed, 'closed-right': layout.sidebar.right.closed, 'closed-bottom': layout.bottombar.closed}">
      <div ng-include="'views/editor/editor.html'"></div>
    </div>

    <!-- bottombar -->
    <div class="bottombar" ng-class="{'closed': layout.bottombar.closed, 'closed-left': layout.sidebar.left.closed, 'closed-right': layout.sidebar.right.closed}">
      <div class="bottombar-header">
        <button type="button" class="btn btn-xs btn-default" ng-click="layout.bottombar.closed=!layout.bottombar.closed">
          <span class="fa" ng-class="{'fa-angle-down': !layout.bottombar.closed, 'fa-angle-up': layout.bottombar.closed}"></span>
        </button>
      </div>
      <div class="bottombar-body">
        <div class="view" ng-include="'views/log/log.html'"></div>
      </div>
    </div>

    <!-- sidebar: right -->
    <div class="sidebar right" ng-class="{'closed': layout.sidebar.right.closed}">
      <div class="sidebar-header">
        <button type="button" class="btn btn-xs btn-default" ng-click="layout.sidebar.right.closed=!layout.sidebar.right.closed">
          <span class="fa" ng-class="{'fa-angle-right': !layout.sidebar.right.closed, 'fa-angle-left': layout.sidebar.right.closed}"></span>
        </button>
      </div>
      <div class="sidebar-body sortable" ng-model="layout.sidebar.right.views" ui-sortable="sidebarSortableOptions">
        <div class="view" ng-repeat="v in layout.sidebar.right.views" ng-include="'views/' + v + '/' + v + '.html'"></div>
      </div>
    </div>
  </div>

  <!-- dependencies -->
  <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js" type="text/javascript"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootbox/bootbox.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/joint/dist/joint.nojquery.js" type="text/javascript"></script>

  <!-- app -->
  <script src="commons/app.js" type="text/javascript"></script>
  <script src="commons/statemachine.js" type="text/javascript"></script>
  <script src="commons/layout-controller.js" type="text/javascript"></script>
  <script src="commons/services/layout-service.js" type="text/javascript"></script>
  <script src="commons/services/application-discovery-service.js" type="text/javascript"></script>
  <script src="commons/services/statemachine-executor-service.js" type="text/javascript"></script>
  <script src="commons/parameter-editor/parameter-editor.js" type="text/javascript"></script>
  <script src="views/dataflows/dataflow-editor/dataflow-editor.js" type="text/javascript"></script>
  <script src="views/editor/editor.js" type="text/javascript"></script>
  <script src="views/editor/editor-controller.js" type="text/javascript"></script>
  <script src="views/editor/overlay/overlay.js" type="text/javascript"></script>
  <script src="views/elements/elements-controller.js" type="text/javascript"></script>
  <script src="views/elements/elements-filter.js" type="text/javascript"></script>
  <script src="views/elements/element/element.js" type="text/javascript"></script>
  <script src="views/statemachine-control/statemachine-control-controller.js" type="text/javascript"></script>
  <script src="views/log/log-controller.js" type="text/javascript"></script>
</body>

</html>
