<div class="view" ng-if="editor.selectionFocus.attributes.dataflows" ng-controller="DataflowsController">
  <div class="header">Dataflow</div>
  <div class="body padding">
    <div ng-model="editor.selectionFocus.attributes.dataflows" ui-sortable="dataflowSortableOptions">
      <div class="dataflow" ng-repeat="dataflow in editor.selectionFocus.attributes.dataflows">
        <div class="input-group">
          <input type="text" placeholder="Source State" class="form-control" ng-model="dataflow.source">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" state-selection="dataflow.source">
              <span class="fa fa-crosshairs"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="addAssign(dataflow)">
              <span class="fa fa-plus"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="removeDataflow($index)">
              <span class="fa fa-remove"></span>
            </button>
          </span>
        </div>
        <div class="form-inline assign" ng-repeat="assign in dataflow.assigns">
          <div ng-model="assign.from" parameter-autocomplete="editor.graph.getCell(dataflow.source)"></div>
          <div ng-model="assign.to" parameter-autocomplete="editor.selectionFocus"></div>
          <button type="button" class="btn btn-default" ng-click="removeAssign(dataflow, $index)">
            <span class="fa fa-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="addDataflow()">
      <span class="fa fa-plus"></span> Add
    </button>
  </div>
</div>
