<div class="view" ng-controller="GeneralController">
  <div class="view-header">General</div>
  <div class="view-body form-horizontal">
    <!--
    <div class="form-group">
      <label class="control-label col-md-2" for="width">Width</label>
      <div class="col-md-8">
        <input id="width" name="width" type="text" class="form-control" ng-model="width">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="height">Height</label>
      <div class="col-md-8">
        <input id="height" name="height" type="text" class="form-control" ng-model="height">
      </div>
    </div>
    -->
  </div>
</div>
