<div ng-controller="EditorController">
  <div class="toolbar form-inline" role="toolbar">
    <div class="btn-group btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{view.scale * 100}}% <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="option in scaleOptions" ng-click="$parent.view.scale = option"><a href="">{{option * 100}}</a></li>
      </ul>
    </div>
    <div class="form-group">
      <input class="form-control" type="range" value="" placeholder="" ng-model="view.grid">
      <input type="checkbox" class="checkbox-inline" value="" ng-model="view.gridVisible">
    </div>
  </div>
  <div class="editor-scroller">
    <div id="editor" class="editor">
      <div class="overlay"></div>
    </div>
  </div>
</div>
