<div class="view" ng-controller="StatemachineExecutorController">
  <div class="header">Statemachine Executor</div>
  <div class="body padding">
  	<div class="tag">Save</div>
    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
    <div class="tag">Start</div>
    <button type="button" class="btn btn-default" ng-click="start()">Start</button>
    <div class="tag">Stop</div>
    <button type="button" class="btn btn-default" ng-click="stop()">Stop</button>
    <div class="tag">Event</div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Event" ng-model="event">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="trigger()">Trigger</button>
      </span>
    </div>
  </div>
</div>
